.cards-container{
  display: flex;
  justify-content: space-around;
	align-items: center;
  width: 900px;
  margin: auto;
}
.card {
  border: grey solid 1px;
  width: 200px;
  height: 240px;
  box-shadow: 0px 0px 3px rgb(230,230,230);
}
.card > img {
  width: 100px;
  height: 100px;
}

.card:hover {
  box-shadow: 0px 0px 6px rgb(220, 92, 92);
  transition: 1s;
  transform: rotate(10deg) translateX(100px) rotate(1turn);;
}

