.cards-container{
  display: flex;
  justify-content: space-around;
	align-items: center;
  width: 900px;
  margin: auto;
}
.card-left, .card-middle, .card-right {
  border: grey solid 1px;
  width: 200px;
  height: 240px;
  box-shadow: 0px 0px 3px rgb(230,230,230);
}
.card-left > img, .card-middle > img, .card-right > img {
  width: 100px;
  height: 100px;
}

.card-left:hover {
  box-shadow: 2px 2px 6px rgb(220, 92, 92);
  transition: 1s;
  transform: rotate(-10deg) translateX(-100px) rotate(-1turn);
}

.card-middle:hover {
  box-shadow: 2px 2px 6px rgb(220, 92, 92);
  transition: 1s;
  transform: rotate(1turn);
}

.card-right:hover {
  box-shadow: 2px 2px 6px rgb(220, 92, 92);
  transition: 1s;
  transform: rotate(10deg) translateX(100px) rotate(1turn);
}
