#footer {
  background-color: rgb(58, 58, 58);
  padding: 70px;
  margin-top: 30px;
}

#footer > p {
color: goldenrod;
}

.far {
  color: red;
  font-size: 40px;
}

.fab, .fas  {
 font-size: 40px;
 color: #1EDD9E;
}

.fas:hover, .fab:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}
