#header {
  background-image: url("../../images/background.png");
  background-size: cover;
  padding: 150px;
}

.container > h1 {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.container > p {
  color: rgb(250, 84, 84);
  font-weight: 300;
}

.btn {
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  background-color: #02884c;
  font-weight: bold;
}
